h1{
    background-color: burlywood;
    color: white;
    font-style: oblique;
    text-align: center;
}

h2{
    background-color: white;
    color: burlywood;
    text-align: center;
}

body{
    /* background-color: black; */
    background-image: url("https://media.istockphoto.com/photos/table-top-view-of-spicy-food-picture-id1316145932?b=1&k=20&m=1316145932&s=170667a&w=0&h=feyrNSTglzksHoEDSsnrG47UoY_XX4PtayUPpSMunQI=");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}

/* nav{ */
    /* background-color: saddlebrown; */
    /* align-self: center; */
    /* width: 200px; */
    /* height: 80px; */
    /* align-items: center; */
    /* display: contents; */
/* } */
.container{
    width: 100%;
    height: fit-content;
    background-image:url() ;
    background-position: center;
    background-size: contain;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: ;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    background-position: center;
    justify-content: center;
}
/* li{ */
    /* text-align: center; */
    /* align-items: center; */
    /* displ

} */

